<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSave(productForm.value)">
    <div class="modal-body">
        <div class="container">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" placeholder="Id" readonly formControlName="id">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
                <br/>
                <div class="alert alert-danger" *ngIf="productForm.get('name').hasError('required') && productForm.get('name').touched && productForm.get('name').dirty">
                    <span *ngIf="productForm.get('name').hasError('required')">
                      Please input name
                  </span>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" placeholder="Price" formControlName="price">
                <br/>
                <div class="alert alert-danger" *ngIf="productForm.get('price').hasError('required') && productForm.get('price').touched && productForm.get('price').dirty">
                    <span *ngIf="productForm.get('price').hasError('required')">
                      Please input price
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" placeholder="Description" formControlName="description">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>